/* menu hamburguer */
header .menu-hamburger {
  display: none;
  flex-direction: column;
  width: 3rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.menu-hamburger .line {
  width: 100%;
  height: .3rem;
  background-color: var(--menu-hamburger-bg-color);
}

@media (max-width: 600px) {
  header .menu {
    display: none;
  }

  header .menu-hamburger {
    display: flex;
  }

  .weekly-news__cards-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  
  footer .container {
    flex-direction: column;
  }

  footer {
    padding: 2rem 0;
  }
}
@media (max-width: 1550px) {
  header {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  main .container {
    padding: 0 2rem;
  }

  .main-news {
    padding: 0;
  }

  .main-news .container {
    position: initial;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .main-news .main-news__card-container {
    max-width: 40rem;
    width: 100%;
  }
  .you-may-know {
    padding: 5rem 2rem;
  }

  .you-may-know .container {
    flex-direction: column;
  }

  .infinite-scroll .container,
  footer .container,
  .weekly-news .container,
  .you-may-know .container {
    padding: 0 2rem;
  }
}