<div class="form-wrapper">
    <form action="/news" method="post">
      {{#if msg}}
        <div class="alert" alert-type="{{alert}}">
          <h2>{{msg}}</h2>
        </div>
      {{/if}}
      
      <h2>Publique uma noticia</h2>
      <div class="forms__itens">
        <div>
          <label for="title">Titulo da noticia</label>
          <input class="form__input" type="title" name="title" id="title" value="" placeholder="Digite o titulo">
        </div>

        <div>
          <label for="type">Tipo de noticia</label>
          <input class="form__input" type="type" name="type" id="type" value="" placeholder="Digite o tipo (1, 2, 3, 4)">
        </div>

        <div>
          <label for="imageLink">Link da imagem</label>
          <input class="form__input" type="imageLink" name="imageLink" id="imageLink" value="" placeholder="Digite o link da imagem">
        </div>

        <div>
          <label for="journalistsName">Autor da reportagem</label>
          <input class="form__input" type="journalistsName" name="journalistsName" id="journalistsName" value="" placeholder="Digite seu nome">
        </div>

        <input type="submit" value="Enviar noticia" class="btn">
      </div>
      </div>
    </form>
  </div>