
<div class="form-wrapper">
  <form action="/auth/register" method="post" class="container">
    <input type="text" name="name" id="name" value="{{this.name}}" placeholder="Digite seu nome">
    <input type="email" name="email" id="email" value="{{this.email}}" placeholder="Digite seu email">
    <input type="password" name="password" id="password" value="{{this.password}}" placeholder="Digite sua senha">
    <input type="password" name="confirmpass" id="confirmpass" value="{{this.confirmpass}}" placeholder="Confirme sua senha">
    <input type="submit" value="enviar">
  </form>
</div>