
<div class="form-wrapper">
  <form action="/auth/login" method="post" class="container">
    <input type="email" name="email" id="email" value="{{this.userRegister}}" placeholder="Digite seu email">
    <input type="password" name="password" id="password" value="{{this.passwordRegister}}" placeholder="Digite sua senha">
    <input type="submit" value="enviar">
  </form>
</div>