<div class="form-wrapper">
    <form action="/auth/register" method="post">
      {{#if msg}}
        <div class="alert" alert-type="{{alert}}">
          <h2>{{msg}}</h2>
        </div>
      {{/if}}

      <h2>Cadastre-se</h2>
      <div class="forms__itens">
        <div>
          <label for="name">Nome</label>
          <input class="form__input" type="text" name="name" id="name" value="" placeholder="Digite seu nome">
        </div>

        <div>
          <label for="email">Email</label>
          <input class="form__input" type="email" name="email" id="email" value="" placeholder="Digite seu email">
        </div>

        <div>
          <label for="password">Senha</label>
          <input class="form__input" type="password" name="password" id="password" value="" placeholder="Digite sua senha">
        </div>
        
        <div>
          <label for="password">Confimar sua senha</label>
          <input class="form__input" type="password" name="confirmpass" id="confirmpass" value="" placeholder="Confirme sua senha">
        </div>
        <input type="submit" value="Cadastrar" class="btn">
      </div>
      </div>
    </form>
  </div>