  <header>
    <div class="container">
      <div class="div menu-hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <a href="/">LOGO</a>
      <nav class="menu">
        <a href="#" class="menu__item">Home</a>
        <a href="#" class="menu__item">Notícias</a>
        <a href="#" class="menu__item">Newsletter</a>
      </nav>
      <div class="user">
        <a href="/register"><span class="material-symbols-outlined user__item user-account">account_circle</span></a>
        <span class="material-symbols-outlined user__item">search</span>
      </div>
    </div>
  </header>