  <header>
    <div class="container">
      <div class="div menu-hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <a href="/">LOGO</a>
      <nav class="menu">
        <a href="#" class="menu__item">Home</a>
        <a href="#" class="menu__item">Notícias</a>
        <a href="#" class="menu__item">Newsletter</a>
      </nav>

      <div class="user">
        {{#if isAuthenticated}}
        <a class="user__btn user__logged__btn" href="/profile">Meu Perfil</a>
        <a class="user__btn user__logged__btn" href="/logout">Sair</a>
        {{else}}
        <a class="user__btn user__non-logged__btn" href="/register">Cadastrar</a>
        <a class="user__btn user__non-logged__btn" href="/login">Logar</a>
        {{/if}}
      </div>
    </div>
  </header>